.preisvergleich {
    margin: 0;
    padding: .3rem;
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;
}

.preisvergleich > h1,
.anbieterDaten {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}

.anbieterDaten {
    background: right/contain content-box border-box no-repeat
    url('/media/examples/rain.svg') white;
}

.anbieterDaten > h2,
.anbieterDaten > p {
    margin: .2rem;
    font-size: 1rem;
}
